@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply font-sans;
}

.banner-img {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 460px;
    overflow: hidden;
}
.banner-overlayer {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.animate-pulse {
    animation: pulse 1.5s infinite;
}
